

@media screen and (max-width: 1900px) {
	

	.klinika-img {
	    margin: 10px -370px 0 0;
	}

	.otziv-img {
	    margin: -60px -354px -68px 0;
	}

	.content-container {
		padding: 0 0 0 370px;
	}

	.content-block2 {
		padding: 32px 370px 32px 32px;
	}

	.content-block3 {
	    width: 74%;
	}

	.doctor-padding {
	    padding: 0 370px 0 16px;
	}
}

@media screen and (max-width: 1850px) {
	

	.klinika-img {
	    margin: 10px -345px 0 0;
	}

	.otziv-img {
	    margin: -60px -329px -68px 0;
	}

	.content-container {
		padding: 0 0 0 345px;
	}

	.content-block2 {
		padding: 32px 345px 32px 32px;
	}

	.content-block3 {
	    width: 74%;
	}

	.doctor-padding {
	    padding: 0 345px 0 16px;
	}
}

@media screen and (max-width: 1800px) {
	

	.klinika-img {
	    margin: 10px -320px 0 0;
	}

	.otziv-img {
	    margin: -60px -304px -68px 0;
	}

	.content-container {
		padding: 0 0 0 320px;
	}

	.content-block2 {
		width: 73%;
		padding: 32px 320px 32px 32px;
	}

	.content-block {
		width: 27%;
	}

	.content-block3 {
	    width: 73%;
	}

	.doctor-padding {
	    padding: 0 320px 0 16px;
	}
}

@media screen and (max-width: 1750px) {
	

	.klinika-img {
	    margin: 10px -295px 0 0;
	}

	.otziv-img {
	    margin: -60px -279px -68px 0;
	}

	.content-container {
		padding: 0 0 0 295px;
	}

	.content-block2 {
		padding: 32px 295px 32px 32px;
	}

	.content-block3 {
	    width: 73%;
	}

	.doctor-padding {
	    padding: 0 295px 0 16px;
	}

	
}

@media screen and (max-width: 1700px) {
	

	.klinika-img {
	    margin: 10px -270px 0 0;
	}

	.otziv-img {
	    margin: -60px -254px -68px 0;
	}

	.content-container {
		padding: 0 0 0 270px;
	}

	.content-block2 {
		width: 72%;
		padding: 32px 270px 32px 32px;
	}

	.content-block {
		width: 28%;
	}

	.content-block3 {
	    width: 72%;
	}

	.doctor-padding {
	    padding: 0 270px 0 16px;
	}

	.otziv2-sl .slick-list {
	    padding: 32px 20% 32px 0 !important;
	}

	.otziv2-sl .slick-next {
		right: 269px !important;
	}

	.otziv2-sl .slick-prev {
		right: 333px !important;
	}
}

@media screen and (max-width: 1650px) {
	

	.klinika-img {
	    margin: 10px -245px 0 0;
	}

	.otziv-img {
	    margin: -60px -229px -68px 0;
	}

	.content-container {
		padding: 0 0 0 245px;
	}

	.content-block2 {
		padding: 32px 245px 32px 32px;
	}

	.content-block3 {
	    width: 72%;
	}

	.doctor-padding {
	    padding: 0 245px 0 16px;
	}
}

@media screen and (max-width: 1600px) {
	

	.klinika-img {
	    margin: 10px -220px 0 0;
	}

	.otziv-img {
	    margin: -60px -204px -68px 0;
	}

	.content-container {
		padding: 0 0 0 220px;
	}

	.content-block2 {
		width: 71%;
		padding: 32px 220px 32px 32px;
	}

	.content-block {
		width: 29%;
	}

	.content-block3 {
	    width: 71%;
	}

	.doctor-padding {
	    padding: 0 220px 0 16px;
	}
}

@media screen and (max-width: 1550px) {
	

	.klinika-img {
	    margin: 10px -179px 0 0;
	}

	.otziv-img {
	    margin: -60px -164px -68px 0;
	}

	.content-container {
		padding: 0 0 0 195px;
	}

	.content-block2 {
		padding: 32px 195px 32px 32px;
	}

	.content-block3 {
	    width: 71%;
	}

	.doctor-padding {
	    padding: 0 195px 0 16px;
	}
}

@media screen and (max-width: 1500px) {
	

	.klinika-img {
	    margin: 10px -170px 0 0;
	}

	.otziv-img {
	    margin: -60px -154px -68px 0;
	}

	.content-container {
		padding: 0 0 0 170px;
	}

	.content-block2 {
		width: 70%;
		padding: 32px 170px 32px 32px;
	}

	.content-block {
		width: 30%;
	}

	.content-block3 {
	    width: 70%;
	}

	.doctor-padding {
	    padding: 0 170px 0 16px;
	}

	.otziv2-sl .slick-list {
	    padding: 32px 10% 32px 0 !important;
	}

	.otziv2-sl .slick-next {
		right: 169px !important;
	}

	.otziv2-sl .slick-prev {
		right: 233px !important;
	}
}

@media screen and (max-width: 1450px) {
	

	.klinika-img {
	    margin: 10px -145px 0 0;
	}

	.otziv-img {
	    margin: -60px -129px -68px 0;
	}

	.content-container {
		padding: 0 0 0 145px;
	}

	.content-block2 {
		padding: 32px 145px 32px 32px;
	}

	.content-block3 {
	    width: 70%;
	}

	.doctor-padding {
	    padding: 0 145px 0 16px;
	}
}

@media screen and (max-width: 1440px) {
	

	.klinika-img {
	    margin: 10px -140px 0 0;
	}

	.otziv-img {
	    margin: -60px -124px -68px 0;
	}

	.content-container {
		padding: 0 0 0 140px;
	}

	.content-block2 {
		padding: 32px 140px 32px 32px;
	}

	.content-block3 {
	    width: 70%;
	}

	.doctor-padding {
	    padding: 0 140px 0 16px;
	}
}

@media screen and (max-width: 1400px) {
	

	.klinika-img {
	    margin: 10px -120px 0 0;
	}

	.otziv-img {
	    margin: -60px -104px -68px 0;
	}

	.content-container {
		padding: 0 0 0 120px;
	}

	.content-block2 {
		width: 69%;
		padding: 32px 120px 32px 32px;
	}

	.content-block {
		width: 31%;
	}

	.content-block3 {
	    width: 69%;
	}

	.doctor-padding {
	    padding: 0 120px 0 16px;
	}
}

@media screen and (max-width: 1370px) {
	

	.klinika-img {
	    margin: 10px -80px 0 0;
	}

	.otziv-img {
	    margin: -60px -64px -68px 0;
	}

	.header-absolute-left {
		right: 0;
		left: auto;
	}

	.popular-absolute {
	    position: absolute;
	    width: 541px;
	    bottom: -61px;
	    right: -80px;
	}

	.work-img {
	    margin: 43px -80px 0 0;
	    text-align: right;
	}

	.content-container {
		padding: 0 0 0 105px;
	}

	.content-block2 {
		padding: 32px 105px 32px 32px;
	}

	.content-block3 {
	    width: 69%;
	}

	.doctor-padding {
	    padding: 0 105px 0 16px;
	}
}


@media screen and (max-width: 1330px) {
	

	.klinika-img {
	    margin: 10px -50px 0 0;
	}

	.otziv-img {
	    margin: -60px -44px -68px 0;
	}

	.header-absolute-left {
		right: 0;
		left: auto;
	}

	.popular-absolute {
	    position: absolute;
	    width: 541px;
	    bottom: -61px;
	    right: -50px;
	}

	.work-img {
	    margin: 43px -50px 0 0;
	    text-align: right;
	}

	.content-container {
		padding: 0 0 0 85px;
	}

	.content-block2 {
		padding: 32px 85px 32px 32px;
	}

	.content-block3 {
	    width: 69%;
	}

	.doctor-padding {
	    padding: 0 85px 0 16px;
	}
}







@media screen and (max-width: 1300px) {
	

	.klinika-img {
	    margin: 10px -40px 0 0;
	}

	.otziv-img {
	    margin: -60px -24px -68px 0;
	}


	.popular-absolute {
	    position: absolute;
	    width: 541px;
	    bottom: -61px;
	    right: -40px;
	}

	.work-img {
	    margin: 43px -40px 0 0;
	    text-align: right;
	}

	.content-container {
		padding: 0 0 0 70px;
	}

	.content-block2 {
		width: 68%;
		padding: 32px 70px 32px 32px;
	}

	.content-block {
		width: 32%;
	}

	.content-block3 {
	    width: 68%;
	}

	.doctor-padding {
	    padding: 0 70px 0 16px;
	}

	.otziv2-sl .slick-list {
	    padding: 32px 2% 32px 0 !important;
	}

	.otziv2-sl .slick-next {
		right: 69px !important;
	}

	.otziv2-sl .slick-prev {
		right: 133px !important;
	}
}

@media screen and (max-width: 1250px){
	.klinika-img {
	    margin: 10px -20px 0 0;
	}

	.otziv-img {
	    margin: -60px -4px -68px 0;
	}


	.popular-absolute {
	    position: absolute;
	    width: 541px;
	    bottom: -61px;
	    right: -20px;
	}

	.work-img {
	    margin: 43px -20px 0 0;
	    text-align: right;
	}

	.content-container {
		padding: 0 0 0 45px;
	}

	.content-block2 {
		padding: 32px 45px 32px 32px;
	}

	.content-block3 {
	    width: 68%;
	}

	.doctor-padding {
	    padding: 0 45px 0 16px;
	}
}

@media screen and (max-width: 1200px) {
	.content-container {
		padding: 0 0 0 20px;
	}

	.content-block2 {
		width: 67%;
		padding: 32px 20px 32px 32px;
	}

	.content-block {
		width: 33%;
	}

	.content-block3 {
	    width: 67%;
	}

	.doctor-padding {
	    padding: 0 20px 0 16px;
	}
}


/* стили для md-устройств */
@media screen and (max-width: 1100px) {
	.otziv-block {
	    padding: 0 15px 0 0;
	    width: 75%;
	}

	.otziv-block2 {
	    width: 25%;
	}

	.header-absolute-left2 {
		left: auto;
		right: 0;
	}
}	


@media screen and (max-width: 1050px) {
	

  
}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
	.header-button button {
	    font-size: 16px;
	    line-height: 150%;
	    text-align: center;
	    color: #FFFFFF;
	    background: #42AF1D;
	    border-radius: 12px;
	    width: 170px;
	    padding: 12px 0;
	}

	.header-button2 button {
	    font-size: 16px;
	    line-height: 150%;
	    text-align: center;
	    color: #1E3301;
	    padding: 11px 0;
	    border: 1px solid #42AF1D;
	    border-radius: 12px;
	    width: 170px;
	}

	.header-search input {
	    font-size: 16px;
	    line-height: 140%;
	    color: #1E3301;
	    margin: 0 0 0 0;
	    width: 170px;
	    padding: 0 0 0 40px;
	    height: 52px;
	    background: #EDF9EA;
	    border-radius: 12px;
	    border: 1px solid #EDF9EA;
	}

	.header-logo a img {
		width: 250px;
	}

	.headerder-link a {
	    text-decoration: none;
	    display: flex;
	    align-items: center;
	    font-size: 14px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.headerder-link2 a {
	    padding: 16px 0 0 0;
	    text-decoration: none;
	    display: flex;
	    align-items: center;
	    font-size: 14px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.header-social-li {
	    padding: 0 6px;
	}

	.header-li a {
	    display: flex;
	    align-items: center;
	    font-size: 14px;
	    line-height: 150%;
	    color: #1E3301;
	    text-decoration: none;
	}

	.otziv-block2 {
		display: none;
	}

	.otziv-block {
		width: 100%;
		padding: 0;
	}

	.otziv-button-data {
		position: absolute;
		bottom: 24px;
		right: 32px;
	}

	.popular-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 40px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.onas-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 40px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.poluchite-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 40px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.foto-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 40px;
	    line-height: 140%;
	    text-align: center;
	    color: #1E3301;
	}

	.otziv-title {
	    padding: 0 0 0 16px;
	    font-family: 'Montserrat-Medium';
	    font-size: 40px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.work:before {
		display: none;
	}

	.stock-title {
	    position: relative;
	    z-index: 1;
	    padding: 0 0 16px 0;
	    font-family: 'Montserrat-Bold';
	    font-size: 16px;
	    line-height: 140%;
	    color: #01120E;
	}

	.content-wrap {
		flex-wrap: wrap;
	}

	.content-block-doctor {
		padding: 0 20px 0 0;
		width: 100%;
	}

	.content-border-doctor {
		display: none;
	}

	.content-block3 {
		width: 100%;
		background: none;
		padding: 0;
	}

	.doctor-img {
		text-align: center;
	}

	.doctor-padding {
		padding: 0 20px 0 0;
	}

	.prices-block {
		display: none;
	}

	.prices-block2 {
		width: 100%;
		padding: 0;
	}

	.error-block {
	    width: 33.3333333%;
	    padding: 0 20px 0 0;
	}

	.error-block:last-child {
	    padding: 0 0px 0 0;
	}
  
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	.work:before {
		display: none;
	}

	.onas-block {
		display: none;
	}

	.onas-block2 {
		width: 100%;
		padding: 0;
	}

	.popular {
		background: #fff;
	}

	.popular:before {
		display: none;
	}

	.footer-wrap {
		flex-wrap: wrap;
	}

	.header-li a {
	    display: flex;
	    align-items: center;
	    font-size: 12px;
	    line-height: 150%;
	    color: #1E3301;
	    text-decoration: none;
	}

	.work-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 50px;
	    line-height: 120%;
	    color: #1E3301;
	}

	.work-suptitle {
	    padding: 16px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.work-block {
	    padding: 24px 0 0 0;
	    width: 45%;
	}

	.work-block2 {
	    position: relative;
	    width: 55%;
	}

	.poluchite:before {
		display: none;
	}

	.content-block2 {
	    width: 61%;
	    padding: 32px 20px 32px 20px;
	}

	.content-block {
	    width: 39%;
	    padding: 0 10px 0 0;
	}

	.doctors-block {
		width: 33.333333%;
	}

	.doctors-img img {
		width: 100%;
	}

	.content-block-doctor {
	    padding: 0 20px 0 0;
	    width: 100%;
	}
}


@media screen and (max-width: 850px) {
	.header-logo-mb {
		display: block;
	}

	.header-logo-ds {
		display: none;
	}

	.header-logo a img {
		width: 100%;
	}

	.header-block {
		display: none;
	}

	.header-bottom {
		display: none;
	}

	.header {
		padding: 16px 0;
		box-shadow: 0px 0px 20px rgba(4, 37, 48, 0.2);
	}

	.header-link-mb {
		display: block;
		padding: 0 70px 0 0;
	}

	/*Burger*/

	.burger {
	    display: block !important;
	}

	.mt-munu-mb .header-navigation-wr {
	    display: block !important;
	}

	.popular-absolute  {
		display: none;
	}

	.popular-wrap {
		width: 100%;
	}

	.poluchite-img {
		display: none;
	}

	.poluchite-border {
		width: 100%;
	}

	.poluchite {
		padding: 26px 0;
	}

	.klinika-text {
		width: 90%;
	}

	.footer-block4 {
		padding: 32px 0 0 0;
	}

	.services-wrap {
		flex-wrap: wrap;
	}

	.services-block {
		width: 100%;
		padding: 0;
	}

	.services-block2 {
		padding: 24px 0 0 0;
		width: 100%;
	}

	.services-avtor2 {
		padding: 24px 0 0 0;
		display: flex;
	}

	.services-avtor {
		display: none;
	}

	.stock-block {
	    width: 33.333333%;
	    padding: 0 10px;
	}

	.stock-container {
	    padding: 0 10px;
	}

	.doctors-block {
		width: 50%;
	}


}


/* Ipad*/ 
@media screen and (max-width: 768px) {
	.work-block2 {
		display: none;
	}

	.otziv-button-data-modal {
		position: relative;
		padding: 20px 0 0 0;
	}

	.foto {
	    padding: 32px 0;
	}

	.otziv {
	    padding: 32px 0;
	    background: #fff;
	}

	.otziv-title {
	    padding: 0 0 0 20px;
	    font-family: 'Montserrat-Medium';
	    font-size: 28px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.licenziya {
	    padding: 32px 0;
	}

	.work {
		padding: 32px 0 0 0;
	}

	.content-mb {
		padding: 32px 0;
	}

	.work-block {
		width: 100%;
		padding: 0;
	}

	.slayder-button {
		display: none;
	}

	.slayder-block {
		display: block;
	}

	.work-container {
		padding: 0;
	}

	.work-sl .slick-list {
	    padding:53px 20px 20px 20px !important;
	}

	.work-title {
		padding: 0 20px;
	}

	.work-suptitle {
	    padding: 16px 20px 0 20px;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.work-konsult {
	    padding: 24px 20px 0 20px;
	    font-family: 'Montserrat-Bold';
	    font-size: 24px;
	    line-height: 130%;
	    color: #1E3301;
	}

	.work-input {
	    padding: 16px 20px 0 20px;
	}

	.work-input input {
		width: 100%;
	}

	.work-button {
	    padding: 16px 20px 0 20px;
	}

	.work-button button {
		width: 100%;
	}

	.work-chekbox {
	    padding: 16px 20px 0 20px;
	}

	.slick-prev {
		display: none !important;
	}

	.slick-next {
		display: none !important;
	}

	.poluchite-inner {
		flex-wrap: wrap;
		padding: 24px 0 0 0;
	}

	.poluchite-input {
		width: 100%;
	}

	.poluchite-input input {
		width: 100%;
	}

	.poluchite-input2 {
		width: 100%;
		padding: 16px 0 0 0;
	}

	.poluchite-input2 input {
		width: 100%;
	}

	.poluchite-button {
		width: 100%;
		padding: 16px 0 0 0;
	}

	.poluchite-button button {
		width: 100%;
	}

	.work-slayder {
		padding: 20px 0 0 0;
	}

	.onas-suptitle {
		padding: 24px 0 0 0;
		font-size: 16px;
	}

	.onas-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 28px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.onas-inner-title {
	    padding: 16px 0 0 0;
	    font-family: 'Montserrat-Bold';
	    font-size: 18px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.onas-inner-suptitle {
	    padding: 16px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.onas-inner {
	    padding: 24px 0 0 0;
	    display: flex;
	    flex-wrap: wrap;
	}

	.onas-link {
	    padding: 24px 0 56px 0;
	}

	.onas {
	    padding: 60px 0 32px 0;
	}

	.popular {
		padding: 32px 0;
	}

	.popular-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 28px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.popular-salyder {
		display: block;
	}

	.popular-wrap {
		display: none;
	}

	.popular-container {
		padding: 0;
	}

	.popular-sl .slick-list {
	    padding:24px 40px 24px 0 !important;
	}

	.popular-border {
		position: relative;
		height: 289px;
		padding: 16px 16px;
	}

	.popular-border-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 18px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.popular-border-ul {
		padding: 8px 0 0 0;
	}

	.popular-border-li {
	    padding: 8px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.popular-link {
		display: block;
		padding: 48px 0 0 0;
	}

	.klinika-block2 {
		display: none;
	}

	.klinika-block {
		width: 100%;
		padding: 0;
	}

	.klinika-title img {
		margin: 24px auto;
	  display: block;
	}

	.klinika-title br {
		display: none;
	}

	.klinika {
	    padding: 32px 0;
	}

	.klinika-title {
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.klinika-text {
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.vopros {
	    padding: 32px 0;
	}

	.vopros-block {
		padding: 0;
	}

	.sidebar-menu {
		font-size: 18px;
	}

	.sub-text {
	    padding: 16px 16px 24px 16px;
	    background: #EDF9EA;
	    border-radius: 0 0 10px 10px;
	    font-size: 16px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.poluchite {
	    padding: 32px 0;
	}

	.poluchite-border {
		padding: 16px 16px;
	}

	.poluchite-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 18px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.poluchite-suptitle {
	    padding: 8px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.poluchite-suptitle br {
		display: none;
	}

	.poluchite-uved {
	    padding: 8px 0 0 0;
	    font-size: 12px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.foto-link {
		padding: 56px 0 0 0;
	}

	.foto-link a {
		width: 100%;
	}

	.foto-sl .slick-slide {
	    margin: 0 16px 0 0 !important;
	}

	.foto-button img {
		width: 100%;
	}


	.foto-absolute img {
		width: 22px !important;
	}

	.foto-container {
		padding: 0 0 0 20px;
	}

	.foto-sl .slick-list {
	    padding:0 5% 0 0 !important;
	}

	.licenziya-sl .slick-slide {
	    margin: 0 16px 0 0;
	}

	.licenziya-container {
		padding: 0 0 0 20px;
	}

	.licenziya-sl .slick-list {
	    padding:0 5% 0 0 !important;
	}

	.foto-title {
	    font-family: 'Montserrat-Medium';
	    font-size: 28px;
	    line-height: 140%;
	    text-align: center;
	    color: #1E3301;
	}

	.otziv-button-border {
		padding: 16px 16px;
		height: 529px;
	}

	.otziv-button-data {
		bottom: 16px;
		right: 16px;
	}

	.otziv-button-data2 {
		bottom: 16px;
		right: 16px;
	}

	.otziv-link {
		padding: 48px 20px 0 20px;
	}

	.otziv-container {
		padding: 0;
	}

	.otziv-sl .slick-slide {
	    margin: 0 0 0 20px !important;
	}

	.otziv-sl .slick-list {
	    padding:32px 5% 32px 0 !important;
	}

	.otziv-link a {
		width: 100%;
	}

	.onas-link a {
		width: 100%;
	}

	.onas-inner-block {
		width: 100%;
		margin: 0;
		padding: 0 0 24px 0;
	}

	.onas-inner-block:last-child {
		padding: 0;
	}

	.klinika2-block {
		display: none;
	}

	.klinika2-block2 {
		width: 100%;
		padding: 0;
	}

	.klinika-button button {
		width: 100%;
	}

	.footer {
		padding: 56px 0 50px 0;
	}

	.popular-border-price {
		position: absolute;
		left: 16px;
		right: 16px;
	}

	.services-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 32px;
	    line-height: 120%;
	    color: #1E3301;
	}

	.services {
		padding: 32px 0;
	}

	.semechki {
		display: none;
	}

	.services-suptitle {
	    padding: 16px 0 0 0;
	    font-size: 18px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.services-inner {
	    padding: 24px 0 24px 0;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}

	.services-inner-block {
		padding: 0 24px 0 0;
	}

	.services-inner-block:last-child {
		padding: 0;
	}

	.services-border-title {
	    width: 95%;
	    padding: 0 0 0 16px;
	    font-size: 18px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.services-border {
	    display: flex;
	    align-items: center;
	    padding: 16px 16px;
	    background: #FFFFFF;
	    box-shadow: 0px 0px 20px rgb(4 37 48 / 20%);
	    border-radius: 20px;
	}

	.content-wrap {
		flex-wrap: wrap;
	}

	.content-container

	.content-block {
		width: 100%;
		padding: 0 20px 0 20px;
	}

	.content {
		padding: 32px 0;
	}

	.content-border2 {
		display: none;
	}

	.content-border {
		margin: 0;
	}

	.content-border3 {
		display: none;
	}

	.content-border4 {
		display: none;
	}

	.content-border5 {
		display: none;
	}

	.content-block2 {
		border-radius: 0;
		width: 100%;
		margin: 32px 0 0 0;
		padding: 32px 20px 32px 20px;
	}

	.content-inner-img2 {
		display: block;
	}

	.content-inner-img {
		display: none;
	}

	.content-inner {
		padding: 24px 0 0 0;
		flex-wrap: wrap;
	}

	.content-inner-block {
		width: 100%;
		padding: 24px 0 0 0;
	}

	.stock-wrap {
		display: none;
	}

	.stock-absolute {
		width: 123px;
	}

	.stock-absolute2 {
		width: 181px;
	}

	.stock-absolute3 {
		right: 0;
		width: 181px;
	}

	.stock {
		padding: 32px 0 56px 0;
	}

	.formmb {
		display: block;
	}

	

	.title-mobile {
		display: block;
	}

	.about-title {
		font-size: 32px;
		padding: 0 0 16px 0;
	}

	.popular-mb {
		display: block;
	}

	.price-wrap2 {
		padding: 16px 16px;
		flex-wrap: wrap;
	}

	.price-wrap3 {
		padding: 16px 16px;
		flex-wrap: wrap;
	}

	.price-wrap4 {
		padding: 16px 16px;
		flex-wrap: wrap;
	}

	.price-wrap5 {
		padding: 16px 16px;
		flex-wrap: wrap;
	}

	.price-suptitle {
		font-size: 16px;
		width: 100%;
	}

	.price-right {
		padding: 8px 0 0 0;
		width: 100%;
		justify-content: space-between;
	}

	.price-price {
		font-size: 16px;
		font-family: 'Montserrat-Bold';
	}

	

	.content-container {
		padding: 0;
	}

	.otziv-doctor {
		display: block;
	}

	.otziv-slayder-doctor {
		display: none;
	}

	.padding-otziv {
		display: none;
	}

	.otziv-link-doctor {
		display: none;
	}

	.doctor-padding {
		padding: 0 20px;
	}

	.doctor-border {
		display: none;
	}

	.doctor-wrap-block {
		width: 100%;
		padding: 32px 0 0 0;
	}

	.formmb-border-doctor {
		margin: 0 0 64px 0;
		display: block;
	}

	.doctor-block {
		margin: 0;
		padding: 32px 0 0 0;
	}

	.doctor-suptitle {
	    padding: 16px 0 32px 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.doctor-block-name {
	    font-family: 'Montserrat-Bold';
	    font-size: 18px;
	    line-height: 140%;
	    text-align: center;
	    color: #1E3301;
	}

	.doctor-block-position {
	    padding: 6px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    text-align: center;
	    color: #1E3301;
	}

	.prices-title {
		font-size: 32px;
	}

	.prices-wrap {
		padding: 0;
	}

	.licenziya2-container {
		padding: 0;
	}

	.licenziya2-sl .slick-slide {
	    margin: 0 0 0 20px !important;
	}

	.licenziya2-sl .slick-list {
	    padding:32px 15% 32px 0 !important;
	}

	.reviewostav-suptitle {
	    padding: 8px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	} 

	.reviewostav-wrap {
		flex-wrap: wrap;
	}

	.reviewostav-input {
		width: 100%;
		padding: 0;
	}

	.reviewostav-input2 {
		width: 100%;
		padding: 16px 0 0 0;
	}

	.reviewostav {
		margin: 32px 0 0 0;
		padding: 16px 16px;
	}

	.review-title {
	    padding: 16px 0 0 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.prices-title {
		padding: 0;
	}

	.fag2-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 28px;
	    line-height: 150%;
	    color: #1E3301;
	    padding: 0 0 0px 0;
	}

	.reviewostav-input4 {
		width: 100%;
		padding: 0;
	}

	.reviewostav-input5 {
		width: 100%;
		padding: 16px 0 0 0;
	}

	.error-wrap {
		flex-wrap: wrap;
		padding: 32px 0 0 0;
	}

	.error-block {
		width: 100%;
		padding: 0 0 24px 0;
	}

	.error-block:last-child {
		padding: 0;
	}

	.error-li {
		padding: 8px 0 0 0;
	}

	.error-li2 {
		padding: 8px 0 0 16px;
	}
}	


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	.popular-sl .slick-list {
	    padding:24px 40% 24px 0 !important;
	}

	.footer-inner br {
		display: none;
	}

	.services-overflow {
		
		overflow: auto;
		white-space: nowrap;
	}

	.services-inner {
		width: 700px;
	}

	.services-overflow::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	.content-border-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 16px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.content-border-ul {
	    padding: 16px 0 0 0;
	}

	.content-border-li {
	    padding: 0 0 0 0;
	}

	.content-border-li a {
	    text-decoration: none;
	    font-size: 16px;
	    line-height: 150%;
	    color: #42AF1D;
	}

	.content-border {
		padding: 16px 16px;
	}

	.licenziya2-sl .slick-list {
	    padding:32px 10% 32px 0 !important;
	}
}

@media screen and (max-width: 575px) {
  	.sidebar-br {
  		display: block;
  	}

	  	.sidebar-menu:after {
	    content: "";
	    width: 2px;
	    height: 18px;
	    background: #1E3301;
	    border-radius: 10px;
	    position: absolute;
	    right: 22px;
	    top: calc(43px - 12.5px);
	    transition: all .2s ease;
	}

	.sidebar-menu:before {
	    content: "";
	    width: 2px;
	    height: 18px;
	    background: #1E3301;
	    border-radius: 10px;
	    position: absolute;
	    right: 22px;
	    top: calc(43px - 12.5px);
	    transition: all .2s ease;
	}

	.otziv-sl .slick-list {
	    padding:32px 35% 32px 0 !important;
	}

	.footer-block2 {
		padding: 32px 0 32px 0;
	}

	.modal {
		padding: 16px 16px;
		max-width: 100%;
	}

	.modal2 {
		max-width: 100%;
		padding: 24px 24px;
	}

	.modal3 {
		max-width: 100%;
	}
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	.work-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 32px;
	    line-height: 120%;
	    color: #1E3301;
	}

	.work-konsult {
	    padding: 24px 20px 0 20px;
	    font-family: 'Montserrat-Bold';
	    font-size: 18px;
	    line-height: 130%;
	    color: #1E3301;
	}

	.popular-sl .slick-list {
	    padding: 24px 30% 24px 0 !important;
	}

	.modalContent {
		overflow: auto;
	}

	.modal-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.modal-suptitle {
	    padding: 16px 0 0 0;
	    font-size: 18px;
	    line-height: 150%;
	    color: #000000;
	}

	.modal-button {
	    padding: 45px 0 0 0;
	}

	.modal2 {
		height: 370px;
	}

	.modal3 {
		height: 370px;
	}

	.modal-img img {
		width: 96px;
	}

	.modal-title2 {
		font-size: 18px;
	}

	.modal-suptitle2 {
		font-size: 16px;
	}

	.services-border {
		position: relative;
	}

	.services-border-title {
		width: 100%;
		padding: 0;
	}

	.services-border-img {
		position: absolute;
		width: 32px;
		right: 16px;
		top: 16px;
	}

	.services-avtor2 {
		flex-wrap: wrap;
	}

	.services-avtor-block {
		width: 100%;
		padding: 16px 0 0 0;
	}

	.services-border2-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 16px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.services-border2 {
		padding: 16px 16px;
	}

	.chekbox-title a br {
		display: none;
	}

	.content-border4-title {
	    font-family: 'Montserrat-Bold';
	    font-size: 16px;
	    line-height: 140%;
	    color: #1E3301;
	}

	.content-border5-suptitle {
	    padding: 8px 0 16px 0;
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.price-right {
		flex-wrap: wrap;
	}

	.price-button {
		padding: 8px 0 0 0;
		width: 100%;
	}

	.price-button button {
		width: 100%;
	}

	.price-title {
		font-size: 18px;
	}

	.doctors-block-mb {
		display: none;
	}

	.doctors-block {
		text-align: center;
		width: 100%;
		padding: 24px 16px 0 16px;
	}

	.doctors-border {
		margin: -92px 0 0 0;
	}

	.reviewostav-button button {
		width: 100%;
	}

	.photo-block {
		width: 100%;
		padding: 0 0 16px 0;
	}

	.photo-block2 {
		width: 100%;
		padding: 0 0 16px 0;
	}
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  	.popular-sl .slick-list {
	    padding: 24px 10% 24px 0 !important;
	}

	.licenziya-sl .slick-list {
	    padding: 0 25% 0 0 !important;
	}

	.otziv-sl .slick-list {
	    padding: 32px 10% 32px 0 !important;
	}

	.klinika-li {
		align-items: flex-start;
	}

	.klinika-elipse {
	    background: #C6FEB3;
	    border-radius: 50%;
	    width: 8px;
	    height: 8px;
	    margin: 9px 10px 0 0;
	}

	.work-suptitle br {
		display: none;
	}

	.sidebar-menu:after {
	    content: "";
	    width: 2px;
	    height: 18px;
	    background: #1E3301;
	    border-radius: 10px;
	    position: absolute;
	    right: 22px;
	    top: calc(54px - 12.5px);
	    transition: all .2s ease;
	}

	.sidebar-menu:before {
	    content: "";
	    width: 2px;
	    height: 18px;
	    background: #1E3301;
	    border-radius: 10px;
	    position: absolute;
	    right: 22px;
	    top: calc(54px - 12.5px);
	    transition: all .2s ease;
	}
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	 	.sidebar-menu:after {
	    content: "";
	    width: 2px;
	    height: 18px;
	    background: #1E3301;
	    border-radius: 10px;
	    position: absolute;
	    right: 22px;
	    top: calc(54px - 12.5px);
	    transition: all .2s ease;
	}

	.sidebar-menu:before {
	    content: "";
	    width: 2px;
	    height: 18px;
	    background: #1E3301;
	    border-radius: 10px;
	    position: absolute;
	    right: 22px;
	    top: calc(54px - 12.5px);
	    transition: all .2s ease;
	}

	.header-link-mb {
	    display: block;
	    padding: 0 50px 0 0;
	}
	.popular-border-price {
	    padding: 29px 0 0 0;
	    font-family: 'Montserrat-Medium';
	    font-size: 20px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.otziv-button-suptitle {
	    font-size: 16px;
	    line-height: 150%;
	    color: #1E3301;
	}

	.doctors-border {
		margin: -114px 0 0 0;
	}

	.doctors-name {
	    font-family: 'Montserrat-Bold';
	    font-size: 18px;
	    line-height: 140%;
	    text-align: center;
	    color: #1E3301;
	}
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {
	
}